<main class="about-sarafood">
<h2>SARA FOOD 소개</h2>
<a href="/">Home</a><span> > SARA FOOD 소개</span>

<div class="what-is-sarafood">
  <img src="/public/resources/images/logo/sarafood_logo@0,5x.png" alt="사라푸드">
  <p>는 수제 도시락&컵밥 등 <span class="green">즉석요리 전문 제조사</span> 입니다.</p>
</div>

<section class="clean-kitchen">
  <span class="green">●</span>
  <div>
    <!-- <img src="/public/resources/images/iconui/cook.jpg" alt="요리사 모자"> -->
    <h4 class="green">제조사 SARA FOOD</h4>
  </div>
  <img src="/public/resources/images/img/kitchen.jpg" alt="사라푸드 주방">
  <p>사라푸드 수제 도시락 오픈주방 내부 전경</p>
</section>

<section class="take-out">
  <span class="green">●●</span>
  <div>
    <!-- <img src="/public/resources/images/iconui/service_icon.png" alt="서비스하는 사람 아이콘"> -->
    <h4 class="green">제공 서비스</h4>
  </div>
  <h3 class="service-title"><span class="green">소량 예약주문</span> TAKE OUT 서비스</h3>
  <p class="service-discription">제조사 사라푸드는 소량 예약주문 TAKE OUT 서비스만 제공합니다.</p>
  <p class="service-detail">(단체 도시락 테이크 아웃 불가 <span class="green">▶SARA FRESH</span>서비스 이용)</p>
  <img src="/public/resources/images/img/sarafood_leaflet.jpg" alt="사라푸드 테이크아웃 도시락메뉴">
</section>

</main>
