<main class="about-sarafresh">
<h2>SARA FRESH 소개</h2>
<a class="sitemap" href="/">Home</a><span class="gray"> > SARA FRESH 소개</span>
<div class="what-is-sarafresh">
  <p >SARA FRESH는 수제 도시락&컵밥 등 즉석요리 전문 제조사<br>
    의<span class="bright-green"> 아침식사 새벽배송 Service 대표 브랜드</span> 입니다.
  </p>
  <img src="/public/resources/images/logo/sarafood_logo@0,5x.png" alt="사라푸드 로고">
</div>
<div class="dot-title">
  <span class="green">●</span>
  <!-- <img src="/public/resources/images/iconui/truck_icon.png" alt="배송트럭 아이콘"> -->
  <h4 class="green sarafresh-delivery">배송사 SARA FRESH</h4>
</div>

<img class="for-your-morning" src="/public/resources/images/logo/sarafresh_logo.png" alt="사라프레쉬 로고">
<img class="monstouch_banner" src="/public/resources/images/img/momstouch.png" alt="엄마의 마음 배너">
<img class="answer_banner" src="/public/resources/images/img/answer_concept_banner.png" alt="응답하라 배너">
<!-- img -->
<!-- img -->

<div class="center">
<div class="dot-title">
  <span class="green">●●</span>
  <!-- <img src="/public/resources/images/iconui/truck_icon.png" alt="배송트럭 아이콘"> -->
  <h4 class="green offering-services">제공 서비스</h4>
</div>

<img src="/public/resources/images/img/sarafresh-benefits.png" alt="사라프레시의 장점">

<h3 class="title-delivery-area">배송지역</h3>
<p class="bright-green description-delivery-area">도시락의 신선함을 위해<br>제조사 근접지역으로 배송지 선정</p>
<img class="delivery-region-sarafresh" src="/public/resources/images/img/seoul_map.png" alt="서울특별시 지도">
<h3>주말배송</h3>
<p class="bright-green">업계최초<br>주말 무료 배송 서비스<br>
<span class="yellow">(주말 포함 메뉴 선택 시)</span></p>
<div class="weekend-delivery">
  <img class="delivery-bag" src="/public/resources/images/img/delivery_bag.png" alt="배송가방">
  <img class="truck" src="/public/resources/images/iconui/truck_icon.png" alt="배송트럭 아이콘">
</div>
</div>

</main>
