<main class="about-sarafresh">
<h2>SARA FRESH 소개</h2>
<a href="/">Home</a><span> > SARA FRESH 소개</span>
<div>
  <p>SARA FRESH는 수제 도시락&컵밥 등 즉석요리 전문 제조사<br>
    <span class="green">의 아침식사 새벽배송 Service</span> 대표 브랜드 입니다.</p>
  <img src="/public/resources/images/logo/sarafood_logo@0,5x.png" alt="사라푸드 로고">
</div>
  <span>●</span>
  <div>
    <img src="/public/resources/images/iconui/truck_icon.png" alt="배송트럭 아이콘">
    <p class="green">배송사 SARA FRESH</p>
  </div>
  <img src="/public/resources/images/logo/sarafresh_logo.png" alt="사라프레쉬 로고">

</main>
