<main class="delivery-process ">
<h2>배송과정</h2>
<a class="sitemap" href="/">Home</a><span class="gray"> > 배송과정</span>

<section class="how-to-order center">
  <div class="title-set">
  <img class="cart-icon" src="/public/resources/images/iconui/cart_icon.png" alt="카트아이콘">
  <span><br>ORDER</span>
  <h3 id="order_sheet">1. 주문하기</h3>
  <p>다음날 새벽부터 정상배송 됩니다<br>
  <span>(오전 10시 이전 주문 및 결제완료시)</span></p>
</div>
  <h4>주문방법 / 주문서 양식</h4>

  <div class="order-addinfo">
    <p class="cacao-id">카카오톡 (ID:SARAFRESH)</p>
    <p class="sms">문자메세지 (주문번호:010-4681-2800)</p>
  </div>

  <article class="order-sheet">
    <!-- <img src="/public/resources/images/img/kakaotalk_iphone.png" alt="카카오톡 모형"> -->
    <h4 class="green">1.성명 :</h4>
    <p>(ex:홍길동)</p>
    <h4 class="green">2.신청 메뉴 및 프로그램 :</h4>
    <p>(ex:샐러드도시락 / 월~금 / 4주 / <span>or</span> / 밥도시락Mix / 월~일 / 1주)</p>
    <p class="red">오배송 방지! 상세히 정확하게 기입 해주셔야 합니다.</p>
    <h4 class="green">3. 배송시작 희망일 :</h4>
    <p>(ex:11월15일)</p>
    <p class="red">배송 전날 오전 재료주문, 배송 당일 새벽 조리원칙으로 인해<br>
      배송 희망일 하루 전 AM 10:00까지 주문 및 결제 완료 시<br>
      정상 배송 가능합니다.</p>
    <h4 class="green">4.결제은행 및 예금주 :</h4>
    <p>(ex:우리은행/홍길동)</p>
    <p class="red">결제확인시 고객혼동을 피하기위해 꼭! 필요합니다.</p>
    <h4 class="green">5.배송주소 :</h4>
    <p>(ex:서울특별시 강남구 논현동 ***번지 **오피스텔 ***호)</p>
    <p class="red">반드시 상세주소를 기입해 주시기 바랍니다.</p>
  </article>
</section>

<section class="delivery center">
  <div class="title-set">
  <img src="/public/resources/images/iconui/truck_icon.png" alt="배송트럭 아이콘">
  <span><br>DELIVERY</span>
  <h3>2. 배송방법</h3>
  <p>갓 조리한 신선한 도시락을<br>고객님의 배송지 현관에 걸려있는 보온·보냉 가방에<br>
    <span class=green>AM 02:00~06:00</span> 까지 넣어 드립니다.</p>
  <span>(새벽시간임을 고려하여 문을 두드리거나 벨은 누르지 않습니다.)</span>
</div>
  <img src="/public/resources/images/img/thermal_bag_text.jpg" alt="문에걸린 보온백 사진">
  <div class="detail-discription">
  <span class=green>[고객님들께 당부 드립니다]</span>
  <p class="red">▶적어도 배송시간 전까지는 보온·보냉 가방을 꼭! 현관앞에 걸어두셔야 정상적으로 배송 가능합니다.<br>
    가방 부재시 비닐봉지에 넣어 드립니다</p>
  <p class="red">▶배송지 내부에 가방을 놔두신 고객분들께서는 주무시기 전에 걸어두시거나<br>
    아침식사 하실 때 가방속의 도시락만 들고 가시면 편합니다!</p>
  </div>
</section>
<section class="refresh center">
<div class="title-set">
  <img src="/public/resources/images/iconui/fork_knife.png" alt="포크와 나이프 아이콘">
  <span><br>REFRESH</span>
  <h3>3.상쾌한 아침</h3>
  <p>신선한 도시락으로 고객의 상쾌한 아침을 열어드리겠습니다.</p>
  <span>(SARA FRESH 서비스를 이용해주시는 모든 고객님들께 진심으로 감사드립니다.)</span>
</div>
  <article>
    <h4 class="green">[SARA FRESH 임직원이 연예인 축구단을 방문하여 아침식사를 협찬하였습니다.]</h4>
    <div class="with-soccer-team">
    <img class="soccer-left" src="/public/resources/images/img/microdot.jpg" alt="래퍼 산체스 마이크로닷">
    <div class="soccer-right">
      <img src="/public/resources/images/img/kimseunghyun.jpg" alt="배우 김승현">
      <img src="/public/resources/images/img/footballteam.jpg" alt="연예인 축구단 단체시식">
    </div>
    <p>▲래퍼 산체스(左), 마이크로닷(中) &nbsp;&nbsp;&nbsp;&nbsp; ▲배우 김승현(上), 연예인 축구단 단체 시식(下)</p>
    </div>
  </article>
</section>
<section class="refresh2 center">
<div class="title-set">
  <img src="/public/resources/images/iconui/bag_icon.png" alt="가방 아이콘">
  <span><br>REFRESH</span>
  <h3>4.배송완료·연장</h3>
  <p>신선한 도시락으로 고객의 상쾌한 아침을 열어드리겠습니다.</p>
  <span>(SARA FRESH 서비스를 이용해주시는 모든 고객님들께 진심으로 감사드립니다.)</span>
</div>
<div class="detail-discription">
  <p class="red">※재주문 (배송기한 연장)의사가 없으신 고객님들께서는 주문하신 메뉴 배송만료일<br>
    배송시간 전에 필히 보온·보냉 가방을 현관에 걸어 주시어 가방 회수에<br>차질을 빚지 않도록 해주시면 감사하겠습니다.</p>
  <p class="green">▶가방 회수 후에 첫 주문시 주셨던 보온·보냉 가방 보증금 1만원은<br>고객님의 결제계좌로 돌려드립니다.</p>
  <p class="green">▶고객님 부주의로 인한 보온·냉 가방 분실시 보증금 1만원은<br>돌려드리지 않습니다.</p>
</div>
</section>
</main>
