<main class=mainpage>
  <section class="slide">
    <h4 class="readable-hidden">ad slide</h4>

  </section>
  <article>
    <h4><span>SARA FRESH</span>주문방법</h3>
  </article>
  <article>
    <h4>카카오톡 상담ID: SARAFRESH</h4>
  </article>
  <article>
    <h4>서울 일부지역 한정배송</h4>
    <p>도시락의 신선도와<br> 한정된 배송시간을 고려하여<br>배송 서비스 대상지 선정</p>
    <img src="/public/resources/images/img/seoul_map.png" alt="서울특별시 지도">
  </article>
  <article>
    <h4>주문전화·메세지</h4>
    <p>010-4684-2800</p>
    <img src="/public/resources/images/img/iphone.png" alt="아이폰 모형" class="iphone">
    <div class="avail-time">
      <h5>문의 및 주문 가능 시간</h5>
      <p>MON ~ SUN (업계 최초 주말배송)</p>
      <time>PM12:00 ~ AM 6:00</time>
      <p>모든 도시락 메뉴는 단체주문 가능하며,<br>가능한 배송 희망일로부터 2~3일 전에<br>예약 바랍니다.</p>
    </div>
  </article>
  <article>
    <h4>입금계좌</h4>
    <p>예금주 | 송영진</p>
    <p>1002-156-145530</p>
    <img src="/public/resources/images/img/wooribank.jpg" alt="우리은행 로고">
  </article>
</main>
