<main class=mainpage>

  <section class="slide">
    <h4 class="readable-hidden">ad slide</h4>
    <div class="slide-slick">
      <!-- 이 안에다 div 로 추가하면 슬라이드가 됨! 702*508px제작-->
      <div><img src="/public/resources/images/pages/main/slide_1.jpg" alt=""></div>
      <div><img src="/public/resources/images/pages/main/slide_2.jpg" alt=""></div>
      <div><img src="/public/resources/images/pages/main/slide_3.jpg" alt=""></div>
      <div><img src="/public/resources/images/pages/main/slide_4.jpg" alt=""></div>
      <div><img src="/public/resources/images/pages/main/slide_4.jpg" alt=""></div>
    </div>
  </section>

  <a class="how-to-order-mainlink" href="/delivery_process#order_sheet">
    <h4 class=readable-hidden><span>SARA FRESH</span>주문방법</h3>
  </a>

  <article class="kakao-contact-id">
    <h4 class="readable-hidden">카카오톡 상담ID: SARAFRESH</h4>
  </article>

<!-- 12/14 통이미지로 수정요청 -->
  <img class="under3" src="/public/resources/images/pages/main/main_under3.jpg" alt="">
  <!-- <article class="delivery-region">
    <h4>서울 일부지역 한정배송</h4>
    <p class="green">도시락의 신선도와<br> 한정된 배송시간을 고려하여<br>배송 서비스 대상지 선정</p>
    <img src="/public/resources/images/img/seoul_map.png" alt="서울특별시 지도">
  </article>

  <article class="order-call">
    <h4>주문전화 · 메세지</h4>
    <p class="green phone-number">010-4684-2800</p>
    <div class="avail-time">
      <h5>문의 및 주문 가능 시간</h5>
      <p class="green">MON ~ SUN (업계 최초 주말배송)</p>
      <time>PM12:00 ~ AM6:00</time>
    </div>
    <p class="green">모든 도시락 메뉴는 단체주문 가능하며,<br>가능한 배송 희망일로부터 2~3일 전에<br>예약 바랍니다.</p>
  </article>
  <article class="billing-bank">
    <h4>입금계좌</h4>
    <p class="green">예금주 | 송영진</p>
    <p class="green">1002-156-145530</p>
    <img src="/public/resources/images/img/wooribank.jpg" alt="우리은행 로고">
  </article> -->
</main>
