<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="아침식사 도시락을 새벽에 배달해 드립니다.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="사라프레쉬">
  <meta property="og:description" content="아침식사 새벽배송 사라프레쉬">
  <meta property="og:image" content="/public/resources/images/logo/sarafresh_logo.png">
  <link rel="stylesheet" href="/public/styles/style.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
  <title>SARA FRESH</title>
</head>
<body>
  <!-- <script>document.body.style.zoom="80%";</script> -->

<div class="header-wrap">
<header>
  <a href="/">
  <div class="logo-title">
    <img src="/public/resources/images/logo/sarafood_logo@0,5x.png"
    alt="사라 프레쉬 로고" class="sara-fresh-logo">
    <p class="slogan">아침식사 새벽배송 대표 브랜드</p>
  </div>
  <h1 class="sarafresh-title">SARA FRESH<br>사라 프레쉬</h1>
  </a>
  <img src="/public/resources/images/img/naver_search.png"
  alt="네이버에 검색해보세요" class="search-banner">
</header>
</div>

<div class="content-wrap">
<div class="content">
<nav>
  <h2 class="readable-hidden">페이지 목록 링크</h2>
  <ul>
    <li><a class="page-link" href="/about_sarafood">
        <p>SARA FOOD 소개</p>
      </a></li>
    <li><a class="page-link" href="/about_sarafresh">
        <p>SARA FRESH 소개</p>
      </a></li>
    <li><a class="page-link" href="/delivery_process">
        <p>배송과정</p>
      </a></li>
    <li class="layout-menu-nav"><a class="page-link" href="/menus">
        <p>메뉴소개</p>
      </a>
      <ul class="menu-sub">
        <li><a href="/menus#meal_big">▶수제 일반 도시락 (대)</a></li>
        <li><a href="/menus#meal_small">▶수제 일반 도시락 (소)</a></li>
        <li><a href="/menus#meal_child">▶수제 어린이 도시락</a></li>
        <li><a href="/menus#salad"><span class="green">▶</span>수제 샐러드 도시락</a></li>
        <li class="last-submenu"><a href="/menus#mix"><span class="yellow">▶</span>수제 MIX 도시락</a></li>
      </ul>
    </li>
    <li><a class="page-link" href="/group_order">
        <p>단체주문</p>
      </a></li>

  </ul>
  <section>
    <h2 class="readable-hidden">소셜서비스 링크</h2>
    <ul class="social-links">
      <li><a href="">SARA FRESH 인스타</a></li>
      <li><a href="">SARA FRESH 페이스북</a></li>
      <li><a href="">SARA FRESH 블로그</a></li>
    </ul>
  </section>
</nav>
  <% console.log("i got page : ",page) %>
  <% switch(page){
    case 'main': %>
      <% include ./partials/main.ejs %>
      <% break;
    case 'delivery_process': %>
      <% include ./partials/delivery_process.ejs %>
      <% break;
    case 'about_sarafresh': %>
      <% include ./partials/about_sarafresh.ejs %>
      <% break;
    case 'about_sarafood': %>
      <% include ./partials/about_sarafood.ejs %>
      <% break;
    case 'group_order': %>
      <% include ./partials/group_order.ejs %>
      <% break;
    case 'menus': %>
      <% include ./partials/menus.ejs %>
      <% break;
   } %>
  <!-- 페이지별로 다른 내용 들어감 -->
</div>
</div>

<div class="footer-wrap">
  <footer>
    <span>SARA FRESH</span>
    <div class="company-info">
      <ul>
        <li>상호명 : 소울커넥션컴퍼니 | 공동대표 : 김준수, 송영진, 우정훈 | 사업장 소재지 : 서울특별시 영등포구 영등포로 57길 9 대우디오빌골든뷰 215 | 사업자 등록번호 : 414-05-91627 | 문의전화 : 010-4684-2800 | E-MAIL : sarafresh@naver.com</li>
        <li>제조사 : 사라푸드(SARA FOOD) | 대표 : 최미라 | 사업장 소재지 : 서울특별시 광진구 중곡동 230-16 | Copyright@SARAFRESH All Rights Reserved</li>
      </ul>
    </div>
  </footer>
</div>

<script src="/public/js/main.js"></script>
<script src="public/lib/slick/slick.min.js"></script>
</body>
</html>
