@charset "UTF-8";
@font-face {
  font-family: "nanum-barun-gothic-bold";
  src: url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.eot");
  src: url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.eot?#iefix") format("embedded-opentype"), url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.woff2") format("woff2"), url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.woff") format("woff"), url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.ttf") format("truetype"), url("/public/resources/fonts/webfont/nanumbarungothic-bold/nanumbarungothicbold.svg#nanum-barun-gothic-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nanum-barun-gothic-regular";
  src: url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.eot");
  src: url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.eot?#iefix") format("embedded-opentype"), url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.woff2") format("woff2"), url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.woff") format("woff"), url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.ttf") format("truetype"), url("/public/resources/fonts/webfont/nanumbarungothic-reg/nanumbarungothicregular.svg#nanum-barun-gothic-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "slick";
  src: url("/public/lib/slick/fonts/slick.eot");
  src: url("/public/lib/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/public/lib/slick/fonts/slick.woff") format("woff"), url("/public/lib/slick/fonts/slick.ttf") format("truetype"), url("/public/lib/slick/fonts/slick.svg#nanum-barun-gothic-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=normalize.css.map */
/*에릭마이어 리셋*/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: ”;
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=reset.css.map */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.readable-hidden {
  position: absolute;
  left: -9999px;
}

img {
  -ms-interpolation-mode: bicubic;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.red {
  color: red;
}

.green {
  color: #57aa4a;
}

.bright-green {
  color: #64bf09;
}

.yellow {
  color: #e3a326;
}

.gray {
  color: gray;
}

.black {
  color: black;
}

.about-sarafood, .about-sarafresh, .delivery-process, .menus-page, .group-order {
  padding-left: 30px;
  font-family: "nanum-barun-gothic-bold";
}

span {
  family: "nanum-barun-gothic-bold";
}

h1 {
  font-family: "nanum-barun-gothic-bold";
  font-size: 38px;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #68c110;
  margin-bottom: 10px;
  font-size: 42.5px;
  font-family: "nanum-barun-gothic-bold";
}

h3 {
  font-family: "nanum-barun-gothic-bold";
  font-size: 41px;
}

h4 {
  font-family: "nanum-barun-gothic-bold";
  font-size: 25.5px;
}

.sitemap {
  text-decoration: underline;
  font-family: "nanum-barun-gothic-regular";
  color: gray;
  font-size: 15px;
}

.dot-title span {
  display: block;
  margin-bottom: 20px;
}
.dot-title h4 {
  line-height: 2em;
  padding: 0 80px;
  display: inline-block;
}

.center {
  text-align: center;
}

.header-wrap {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 10px;
}

.header-wrap {
  border-bottom: 1px solid #68c110;
}

.footer-wrap {
  width: 100%;
  border-top: 1px solid #68c110;
}

.header-wrap header, .content-wrap, .footer-wrap footer {
  width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
}
.header-wrap header::after, .content-wrap::after, .footer-wrap footer::after {
  content: "";
  display: block;
  clear: both;
}

.content-wrap {
  margin-bottom: 30px;
  margin-top: 30px;
}

.logo-title {
  float: left;
  height: 40px;
  width: 1210px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

.search-banner {
  margin-top: 20px;
  float: right;
  height: 52px;
}

.sarafresh-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.sara-fresh-logo {
  height: 100%;
  float: left;
}

.slogan {
  margin-top: 17px;
  margin-bottom: 0;
  font-family: "nanum-barun-gothic-bold";
  font-size: 20px;
}

.sarafresh-title {
  color: #55a947;
}

.content > nav {
  float: left;
  width: 220px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 1px;
}

.content {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

.page-link {
  float: left;
  height: 85px;
  width: 220px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.social-links {
  float: left;
}

.content > nav {
  background-color: #57aa4a;
  position: relative;
}

.page-link > p {
  margin-left: 20px;
  margin-top: 35px;
  color: white;
}

.page-link {
  box-sizing: border-box;
  font-family: "nanum-barun-gothic-bold";
  font-size: 21px;
  border-bottom: 2px solid white;
}

.social-links {
  padding-left: 20px;
  padding-top: 15px;
  font-family: "nanum-barun-gothic-bold";
  font-size: 15px;
  color: white;
}
.social-links li {
  margin-top: 10px;
}
.social-links li:nth-child(1) a {
  background: url("/public/resources/images/iconui/sns_icons.png") 0 -30px no-repeat;
}
.social-links li:nth-child(2) a {
  background: url("/public/resources/images/iconui/sns_icons.png") 0 -60px no-repeat;
}
.social-links li:nth-child(3) a {
  background: url("/public/resources/images/iconui/sns_icons.png") 0 0px no-repeat;
}
.social-links a {
  display: inline-block;
  padding-left: 35px;
  height: 23px;
  padding-top: 5px;
}

.menu-sub {
  position: absolute;
  left: -9999px;
  width: 190px;
  top: 253px;
  background: white;
  padding: 10px;
  font-family: "nanum-barun-gothic-regular";
  border-radius: 10px;
  border: 2px solid gray;
}
.menu-sub li {
  margin-bottom: 10px;
}
.menu-sub .last-submenu {
  margin-bottom: 0px;
}

.menu-sub.submenu-active {
  left: 210px;
  z-index: 9999;
}

main {
  width: 990px;
}
main img {
  width: 100%;
}

.footer-wrap {
  height: 100px;
  box-sizing: border-box;
}

footer {
  padding-top: 35px;
}
footer span {
  padding-right: 30px;
  float: left;
  font-family: "nanum-barun-gothic-bold";
  font-size: 25px;
  color: #57aa4a;
}
footer li {
  float: left;
  font-family: "nanum-barun-gothic-regular";
  font-size: 10px;
  color: gray;
  margin-bottom: 5px;
  margin-right: 15px;
}

.slide {
  float: left;
  height: 510px;
  width: 704px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  box-sizing: border-box;
  border: 1px solid white;
  overflow: hidden;
}

.how-to-order-mainlink, .kakao-contact-id {
  float: left;
  height: 255px;
  width: 286px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

.under3 {
  float: left;
  height: 320px;
  width: 990px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

.slide-slick {
  width: 100%;
  height: 100%;
}

.slick-dots {
  bottom: 20px;
}

.how-to-order-mainlink {
  background: url("/public/resources/images/pages/main/how_to_order.png") no-repeat;
  background-size: cover;
}

.kakao-contact-id {
  background: url("/public/resources/images/pages/main/kakao-contact-id.png") no-repeat;
  background-size: cover;
}

#order_sheet {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1000px;
}

/*# sourceMappingURL=style.css.map */
