@charset "utf-8"
///////// 공용 모듈 설정 ////////////
html
  background-color: gray
li
  list-style: none
ul
  padding-left: 0
a
  text-decoration: none

.readable-hidden
  position: absolute
  left: -9999px

=alignCenter()
  display:flex
  justify-content: center
  align-items: center

.red
  color: red
.green
  color: #57aa4a
.yellow
  color: #e3a326

///////// layout.ejs 상단 바 영역 스타일링//////////
.header-wrap
  border-bottom: 1px solid 	#68c110

.footer-wrap
  border-top: 1px solid 	#68c110

.sara-fresh-logo
  height: 100%
  float: left
.slogan
  margin:
    top: 20px
    bottom: 0


///////// layout.ejs 좌측 네비게이션 영역 스타일링//////////
.content>nav
  background-color: #68c110
  position: relative

.page-link>p
  margin:
    left: 20px
    top: 40px
    bottom: auto
  color: white

.page-link
  box-sizing: border-box
  border:
    bottom: 2px solid white
  // background-color: #68c110

.menu-sub
  width: 180px
  height: 90px
  position: absolute
  left: 200px
  top: 320px
  background: white
  padding: 10px
  border:
    radius: 10px
  border: 2px solid gray

.social-links
  padding-left: 20px

//////////////// content 안쪽 영역 스타일링 //////////////
main img
  width: 100%
